

.woocommerce button[name="update_cart"],
.woocommerce input[name="update_cart"] {
    display: none;
}

.woocommerce-cart-form{
    width:80%;
    margin:auto;
    margin-bottom:20px;
}
.woocommerce .cart-collaterals
{
width:30%;
}
.woocommerce .cart-collaterals .cart_totals
{
    width:100%;
    border-radius:5px;
}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button{

    margin:0;
    padding:10px 0;
    width:100%;
    text-align:center;
    border-radius:5px;
    background-color: #1c7ece;
    color:#fff;
    transition: all 0.2s;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover {
    background-color: #1664a4;
}
@media (max-width: 767px){
    .order-form-parent, .woocommerce .cart-collaterals {
        width: 100%;
    }
    .woocommerce .cart-collaterals {
        max-width:230px;
        margin:auto;
        margin-top:10px;
    }
}